@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName)

    @Html.LabelFor(model => model.ServiceDate, "Service Date:")
    @Html.TextBoxFor(model => model.ServiceDate, new { @class = "form-control", type = "date", style = "width: auto;"} )

    <input type="submit" value="Add machine" />
}

<p>@Html.ValidationMessageFor(model => model.MachineId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<p>@Html.ActionLink("Show all machines", "Index")</p>