@{
  Layout = "_Layout";
}
@using Factory.Models;
<div class="fun">
<h1 class="title">🍀 Welcome to Dr. Shamrock Sillystringz's Factory! 🍀</h1>

<hr>
<div class="container">
  <div class="row">
  <div class="col">
    <h4 class="under">Factory Engineers</h4>
      @if (Model["engineers"].Length == 0)
    {
      <p>No engineers have been added.</p>
    } 
  <ul>
  @foreach (Engineer eng in Model["engineers"])
  {
    <p>@Html.ActionLink(@eng.EngineerName, "Details", "Engineers", new { id = @eng.EngineerId})</p>
  }
</ul>
  </div>
  <div class="col">
<h4 class="under">Operational Machines</h4>
@if (Model["machines"].Length == 0)
{
  <p>No machines have been added.</p>
} 
<ul>
  @foreach (Machine mach in Model["machines"])
  {
    <p>@Html.ActionLink(@mach.MachineName, "Details", "Machines", new { id = @mach.MachineId})</p>
  }
</ul>
  </div>
  </div>
  </div>
<hr>